@use "@/shared/styles/vars" as *;
@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/fonts" as *;

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: $bg-primary;
    color: $text-primary;
}

.loginDiv {
    padding: 32px 24px;
    background-color: $bg-card;
    border: 1px solid $border;
    box-shadow: 0 4px 12px $shadow;
    border-radius: 8px;
    gap: 16px;
}

.title {
    text-align: center;
    margin-bottom: 8px;
    @include h1;
    @include mobile {
        @include h1-mobile;
    }
}

.field {
    position: relative;
}
.fieldInput {
    height: 48px;
    background-color: $bg-card;
    border: 1px solid $input-border;
    padding: 8px 16px;
    @include p1;
    @include mobile {
        @include p1-mobile;
    }

    &[data-error="true"] {
        border: 1px solid $danger;
        color: $danger;
    }
}
.fieldInputLabel {
    @include p2;
    @include mobile {
        @include p2-mobile;
    }
    z-index: 1;
    position: absolute;
    padding-inline: 4px;
    top: -8px;
    left: 15px;
    background-color: $bg-card;
}
:global(.mantine-InputWrapper-root[data-error]) {
    .fieldInputLabel {
        color: $danger;
    }
}
.fieldInputError {
    color: $danger;
    margin-left: 16px;
}

.submitBtn, .regBtn {
    height: 50px;
    padding: 15px 42px 15px 40px;
    @include button;
    @include mobile {
        @include button-mobile;
    }
    transition: background-color 0.2s ease;
}
.submitBtn {
    background-color: $color-700;
    color: $color-50;

    &:hover {
        background-color: $color-400;
    }
}

.regBtn {
    border: 1px solid $color-700;
    color: $color-700;

    &:hover {
        background-color: $color-500;
        color: $color-50;
    }
}

.forgot {
    @include h4;
    @include mobile {
        @include h4-mobile;
    }
    color: $info;
}

.switchLabel {
    @include p1;
    @include mobile {
        @include p1-mobile;
    }
    margin-top: 3px;
}