@use "@/shared/styles/vars" as *;
@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/fonts" as *;

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: $bg-primary;
    color: $text-primary;
}